<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="PowerSlice" />
  </assemblies>

  <clientResources>
    <add name="powerslice" path="Scripts/css/powerslice.css" resourceType="Style" />
  </clientResources>

  <dojo>
    <paths>
      <add name="powerslice" location="Scripts" />
    </paths>
  </dojo>

  <clientModule>
    <requiredResources>
      <add name="powerslice" />
    </requiredResources>
  </clientModule>
</module>